.mainMediumCardBlockLight {
    width: 352px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F3F3;
    border-bottom: 1px solid #DADADA;
}

.mainMediumCardBlockDark {
    width: 352px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313037;
    border-bottom: 1px solid #DADADA;
}

.blockWithImageM {
    width: 352px;
    height: 246px;
    margin-bottom: 18px;
}

.imageSizeM {
    width: 352px;
    height: 246px;
}


.dateM {
    width: 104px;
    height: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #8D8E97;
    margin-bottom: 7px;
}

.titleMLight {
    width: 352px;
    height: 56px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #313037;
    margin-bottom: 22px;
    text-decoration: none;
}


.blockWithTextM{
    width: 352px;
    height: 125px;
}

.titleMDark {
    width: 352px;
    height: 56px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-bottom: 22px;
    text-decoration: none;
}

.titleMLight:hover {
    color: #2231AA;
}

.titleMDark:hover {
    color: #2231AA;
}

.mainIconsBlockM {
    width: 352px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.likeBlockM {
    width: 70px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.saveBlockM {
    width: 60px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.likeIconMLight {
    width: 21.68px;
    height: 22px;
    color: black;
}

.likeIconMDark {
    width: 21.68px;
    height: 22px;
    color: rgb(255, 255, 255);
}

.bookMarkIconMLight {
    width: 21.68px;
    height: 22px;
    color: black;
}

.bookMarkIconMDark {
    width: 21.68px;
    height: 22px;
    color: rgb(255, 255, 255);
}


.ellipsisIconMLight {
    width: 20px;
    height: 22px;
    color: black;
}

.ellipsisIconMDark {
    width: 20px;
    height: 22px;
    color: rgb(255, 255, 255);
}


.counterMLight {
    width: 15px;
    height: 25px;
    font-family: Inter;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}
.counterMDark {
    width: 15px;
    height: 25px;
    font-family: Inter;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    color: white;
}