.mainBlockLight {
    width: 580px;
    height: 90px;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.mainBlockDark {
    width: 580px;
    height: 125px;
    background-color: #313037;
    display: flex;
    align-items: center;
}

.defaultLight {
    width: 528px;
    height: 45px;
    border-radius: 2px;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    border: none;
    padding: 0px 0px 0px 20px;
}

.defaultDark {
    width: 528px;
    height: 45px;
    border-radius: 2px;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    border: none;
    padding: 0px 0px 0px 20px;
    background-color: #3e3e45;
    color: #ffffff;
}

.defaultLight::placeholder {
    width: 138px;
    height: 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #82838c
}

.defaultDark::placeholder {
    width: 138px;
    height: 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #DADADA;
}


.focusLight:focus {
    outline: none;
    border: 2px solid #DADADA
}

.focusDark:focus {
    outline: none;
    border: 2px solid #6f6f6f
}

.activeLight:active {
    border: none;
}

.activeDark:active {
    border: none;
}

.fieldset {
    width: 35px;
    height: 20px;
    border: none
}

.legendLight {
    width: 150px;
    height: 20px;
    left: 1px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #313037;
}

.legendDark {
    width: 150px;
    height: 20px;
    left: 1px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #DADADA;
}



.errorText {
    display: none;
    width: 100px;
    font-size: 13px;
    color: #FD3419;
    font-family: Inter;
    font-weight: 400;
    margin-top: 45px;
    margin-left: 15px;
}