.mainOnePageContainerLight {
    width: auto;
    height: auto;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.mainOnePageContainerDark {
    width: auto;
    height: auto;
    background-color: #313037;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainContainer {
    width: 1120px;
    height: auto;
    border-bottom: 1px solid #DADADA;
    margin-top: 40px;
}


.homeLinkBlock {
    width: 150px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}


.homeLinkLight {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 45px;
    height: 24px;
    color: #313037;
}

.homeLinkDark {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 45px;
    height: 24px;
    color: #ffffff;
}

.stick {
    width: 7px;
    height: 24px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #8D8E97
}



.postNumber {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 85px;
    height: 24px;
    color: #8D8E97;
}


.OnePageContainerTitleLight {
    width: 1120px;
    height: 210px;
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    color: #313037;
}

.OnePageContainerTitleDark {
    width: 1120px;
    height: 210px;
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    color: #ffffff;
}


.onePageImageCotainer {
    width: 1120px;
    height: 518px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


.OnePageImage {
    width: 992px;
    height: 518px;
}


.onePageDescriptionContainer {
    width: 1120px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.onePageDescriptionLight {
    width: 920px;
    height: auto;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #313037
}

.onePageDescriptionDark {
    width: 920px;
    height: auto;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #8D8E97;
}


.reactionsOnePageBlockContainer {
    width: 1120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.reactionsOnePageBlock {
    width: 922px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerMark {
    width: 190px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.likeButtonLight {
    width: 88px;
    height: 56px;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 2px;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.likeButtonDark {
    width: 88px;
    height: 56px;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 2px;
    background-color: #4d4c52;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconSizeLight {
    width: 21.68px;
    height: 22px;
    color: black
}

.iconSizeDark {
    width: 21.68px;
    height: 22px;
    color: rgb(255, 255, 255)
}

.iconBookMarkSize {
    width: 21.68px;
    height: 22px;
    margin-left: 35px;
    margin-right: 5px;
}

.dislikeButtonLight {
    width: 88px;
    height: 56px;
    left: 94px;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 2px;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dislikeButtonDark {
    width: 88px;
    height: 56px;
    left: 94px;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 2px;
    background-color: #4d4c52;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToFavLight {
    width: 237px;
    height: 56px;
    border-radius: 2px;
    background-color: #E8E8E8;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #313037;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.addToFavDark {
    width: 237px;
    height: 56px;
    border-radius: 2px;
    background-color: #4d4c52;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #313037;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}



.mainOneBlockNavigationLight {
    width: 1120px;
    height: 100px;
    border-radius: 2px;
    border-bottom: 1px solid #DADADA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mainOneBlockNavigationDark {
    width: 1120px;
    height: 100px;
    border-radius: 2px;
    border-bottom: 1px solid #DADADA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    ;
}

.prevContainer {
    width: 335px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nextContainer {
    width: 455px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.textPrevContainer {
    width: 293px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textNextContainer {
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: end;
}


.titlePrevLight {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 35px;
    height: 24px;
    color: #313037;
    margin-bottom: 10px;
}

.titlePrevDark {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 35px;
    height: 24px;
    color: white;
    margin-bottom: 10px;
}

.descriptionPrev {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #8D8E97;
    width: 410px;
    height: 24px;

}


.iconArrRightNextLight {
    width: 65px;
    height: 20px;
    color: black;
}

.iconArrRightNextDark {
    width: 65px;
    height: 20px;
    color: white;
}

.iconArrLeftPrevLight {
    width: 65px;
    height: 20px;
    border: 2px;
    color: black;
}

.iconArrLeftPrevDark {
    width: 65px;
    height: 20px;
    border: 2px;
    color: white;
}




@media screen and (max-width: 1150px) {

    .mainContainer {
        width: 720px;
        height: auto;
        border-bottom: 1px solid #DADADA;
        margin-top: 40px;
    }

    .OnePageContainerTitleLight {
        width: 720px;
        height: 145px;
        font-size: 40px;
        line-height: 50px;
    }

    .OnePageContainerTitleDark {
        width: 720px;
        height: 145px;
        font-size: 40px;
        line-height: 50px;
    }

    .onePageImageCotainer {
        width: 720px;

    }

    .onePageDescriptionContainer {
        width: 720px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .reactionsOnePageBlockContainer {
        width: 720px;
        height: 100px;
        display: flex;
    }

    .mainOneBlockNavigationLight {
        width: 720px;
        height: 100px;
        border-radius: 2px;
        border-bottom: 1px solid #DADADA;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .mainOneBlockNavigationDark {
        width: 720px;
        height: 100px;
        border-radius: 2px;
        border-bottom: 1px solid #DADADA;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .descriptionPrev {
        display: none;
    }

    .nextContainer {
        width: 95px;
    }
}

@media screen and (max-width: 775px) {
    .mainContainer {
        width: 340px;
        height: auto;
        border-bottom: 1px solid #DADADA;
        margin-top: 40px;
    }

    .OnePageContainerTitleLight {
        width: 340px;
        height: 145px;
        font-size: 25px;
        line-height: 35px;
    }

    .OnePageContainerTitleDark {
        width: 340px;
        height: 145px;
        font-size: 25px;
        line-height: 35px;
    }

    .onePageImageCotainer {
        width: 340px;
        height: auto;
    }

    .OnePageImage {
        width: 340px;
        height: 220px;
    }

    .onePageDescriptionContainer {
        width: 340px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .reactionsOnePageBlockContainer {
        width: 340px;
        height: 100px;
        display: flex;
    }

    .reactionsOnePageBlock {
        width: 340px;
        height: 135px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .mainOneBlockNavigationLight {
        width: 340px;
        height: 100px;
        border-radius: 2px;
        border-bottom: 1px solid #DADADA;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mainOneBlockNavigationDark {
        width: 340px;
        height: 100px;
        border-radius: 2px;
        border-bottom: 1px solid #DADADA;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .descriptionPrev {
        font-size: 13px;
        width: 335px;
        height: 24px;
    }

    .onePageDescriptionLight {
        width: 340px;
        height: auto;
        font-family: Inter;
        font-weight: 400;
        text-align: left;
        color: #313037;
        font-size: 13px;
        line-height: 25px;
    }

    .onePageDescriptionDark {
        width: 340px;
        height: auto;
        font-family: Inter;
        font-weight: 400;
        text-align: left;
        color: #8D8E97;
        font-size: 13px;
        line-height: 25px;
    }

    .textPrevContainer {
        width: 180px;
    }

    .containerMark {
        margin-bottom: 15px;
        width: 235px;
    }

    .dislikeButtonLight {
        width: 110px;
    }

    .likeButtonLight {
        width: 110px;
    }

    .dislikeButtonDark {
        width: 110px;
    }

    .likeButtonDark {
        width: 110px;
    }

}